body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-image: url('../img2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column; 
}

.container {
    padding-top: 100px;
    width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(194, 222, 236, 0.8);
    box-shadow: 0 2px 10px rgba(107, 103, 103, 0.1);
    border-radius: 8px;
}

h2 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

input[type="text"], input[type="email"], select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #6082c2;
    color: black;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #bfce3b;
}

p {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}
